<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">CSCI 4140</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{ path( 'csci4140_webhook_admin_list_students' ) }}">List All Students</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">List All Submissions <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path( 'csci4140_webhook_admin_list_submissions', { assignment : 1 } ) }}">Assignment 1</a></li>
						<li><a href="{{ path( 'csci4140_webhook_admin_list_submissions', { assignment : 2 } ) }}">Assignment 2</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shortcuts <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="http://52.76.12.160/phpmyadmin/" target="_blank">phpMyAdmin</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="https://classroom.github.com/classrooms/6649894-cuhk-csci-4140" target="_blank">Classroom for GitHub</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="https://mtyiu.github.io/csci4140-spring16/" target="_blank">Tutorial Page</a></li>
						<li><a href="http://www.tywong-mole.com/~csci4140/" target="_blank">Course Homepage</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
